*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

root{
    background-color: var(--radio-color);
    /* background-color: pink;  */
}

section{
    padding: 50px 150px;
}
body{
    background-color: var(--radio-color);
}

main{
    border: 5px solid var(--radio-color);
    background-color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    color: var(--radio-color);
    text-decoration: underline;
}

input[type="text"]
{
    height: 40px;
    padding: 10px;
    font-size: 30px;
}
button{
    font-size: 30px;
}
.form-control{
    margin:50px;
    /* border: 0; */
    /* background-color: rgb(170, 222, 238); */
    text-align: center;
    border-color:var(--radio-color); 
}
fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.theme{
    align-items: center;
    display: flex;
    height: 100px;;
    width: 500px;
    justify-content: space-evenly;
    background-color: white;
  }


.color-changer{
    display:flex;
    gap:20px;
    padding:10px;
    width: fit-content;
    /* border: 0; */
    margin-inline: auto;
    /* background-color: white; */
}

.api{
    padding: 20px 10px;
}

input[type="radio"]{
    appearance: none;
    height: 30px;
    width:30px;
    border: 2px solid;
    border-radius: 50%;
    cursor:pointer;
}

input[type="radio"]:checked
{
    background-color: var(--radio-color);
}

#babyPink{
    --radio-color:grey;
    border: 3px solid grey;
}
#lightgreen{
    --radio-color:rgb(243, 212, 217);
    border: 3px solid pink;
}
#light{
    --radio-color:rgb(170, 222, 238);
    border: 3px solid blue;
}
#dark{
    --radio-color:rgb(122, 233, 122);
    border: 3px solid green;
}
#orange{
    --radio-color:black;
    border: 3px solid black;
}
:root:has(#lightgreen:checked){
    background-color: rgb(243, 212, 217);
}
:root:has(#light:checked){
    background-color:rgb(170, 222, 238) ;
}
:root:has(#dark:checked){
    background-color: rgb(122, 233, 122);
}
:root:has(#orange:checked){
    background-color: black;
}
:root:has(#babyPink:checked){
    background-color: grey;
}